nav {
    width: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
}
header{
    display: flex;
}
#Home,div img{
    width: 100%;
    height: auto;
    position:absolute;
    z-index: -1;
}

main h1{
    font-weight: 50%;
    font-size: larger;
}